name: checkstyle
on:
  push:
    branches: [ * ]
  pull_request:
      branches: ["main"]
jobs:
  checkstyle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dbelyaev/action-checkstyle@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          checkstyle_config: '.github/workflows/lint-config.xml'
          reporter: "github-check"